{% extends 'parts/base.html' %}

{% block title %}{{ profile.user.username }} Media{% endblock title %}


{% block content %}

<div class='elements-inline'>
    <h1><a href="{% url 'user_page' profile.slug %}">{{ profile.user.username }}</a> Images</h1>
    {% if request.user == profile.user %}
    <div class="elements-inline">
        <a href="{% url 'user_media_delete' profile.slug %}" class="button">Hide Images</a>    
        <a href="{% url 'user_media_upload' profile.slug %}" class="button">Upload a New</a>    
    </div>
    {% endif %}
</div> 

{% include 'parts/users/profile_media_container.html' %}

{% endblock content %}