{% extends 'parts/base.html' %}

{% block title %}{% if media.title %}"{{media.title}}" Media{% else %}An image{% endif %}{% endblock title %}


{% block content %}

<h1>{% if media.title %}{{media.title}}{% else %}An image{% endif %}</h1>
<p>by {% include 'parts/users/username_display.html' with user=media.profile.user %} on {{media.created_at|date}}</p>

<div class="card image-card-detailed">
    <img src="{{ media.image.url }}" alt="">
    <p>{% if media.title %}{{media.title}}{% endif %}</p>

</div>

{% endblock content %}