{% extends 'parts/base.html' %}

{% block title %}{{ profile.user.username }}'s Awards{% endblock title %}


{% block content %}
    <h1><a href="{% url 'user_page' profile.user.username %}">{{ profile.user.username }}</a>'s Awards</h1>
    <div class="card-container row-card-container">
        {% for award in awards %}
            <div class="card award-card">
                <img src="{{ award.type.picture.url }}" alt="{{award.type.name}}">
                <div class="card-info">
                    <h2>{{award.type.name}}</h2>
                    <p class="date">received on {% include 'parts/date_time.html' with date_time=award.created_at %}</p>
                </div>     
                <p>{{award.type.description}}</p>
            </div>
        {% empty %}
            <h2 class="grey nowrap">None yet, come back here later!</h2>
        {% endfor %}
    </div>
{% endblock content %}