{% extends 'parts/base.html' %}

{% block title %}{{ profile.user.username }} Profile{% endblock title %}


{% block content %}
    <h1>{{ profile.user.username }}</h1>
    <img src="{{ profile.pfp.url }}" alt="{{ profile.user.username }} Profile Picture" style="border: 1px solid black; width: 120px; image-rendering: pixelated;">
    <h3>My Bio:</h3> 
    <p>{{ profile.bio }}</p>

    {% comment %} 'Subscribe' or 'Unsubscribe' button {% endcomment %}
    {% if profile.user != request.user %}
        <form action="{% url 'user_subscribe' profile.slug %}" method='post'>
            {% csrf_token %}
            {% if request_user_is_subscribed %}
                <input type="hidden" name="action" value='delete'>
                <input type="submit" value="Unsubscribe">
            {% else %}
                <input type="hidden" name="action" value='post'>
                <input type="submit" value="Subscribe">
            {% endif %}
        </form>
        
    {% endif %}


    <h3><a href="{% url 'user_media_list' profile.user.profile.slug %}">My Pics:</a></h3>
    <ul>
        {% for pic in media_list %}
            <li>
                <img src="{{ pic.image.url }}" alt="{{award.type.description}}" style="height:2cm;">
                {% if pic.title %}
                    {{ pic.title }}
                {% endif %}
            </li>
        {% empty %}
        None yet...
        {% endfor %}
    </ul>



    <h3><a href="{% url 'user_award_list' profile.user.profile.slug %}">My Awards:</a></h3>
    {% for user_award in profile.user.awards.filter %}
        <ul>
            <li>{{ user_award.type.name }}</li>
        </ul>
    {% empty %}
        None yet...
    {% endfor %}

    <h3><a href="{% url 'user_followings' profile.slug %}">My Followers:</a></h3>
    {% for subscription_profile in subscribers %}
        <ul>
            <li><a href="{% url 'user_page' subscription_profile.slug %}">{{ subscription_profile.user.username }}</a></li>
        </ul>
    {% empty %}
        None...
    {% endfor %}

    <h3>My Signing:</h3>
        <p>{{ profile.signing }}</p>

    <h2>Comments:</h2>
    <div>
        <h3>Create a comment yourself:</h3>
            <form action="{% url 'user_create_comment' profile.slug %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post">
            </form>

    </div>

    {% include 'parts/comment_list.html' with comments=comments%}

{% endblock content %}
