{% extends 'parts/base.html' %}

{% block title %}{{ profile.user.username }} Followings{% endblock title %}

{% block main_class %}main-flex{% endblock main_class %}

{% block content %}
    <div class="elements-inline">
        <h1><a href="{% url 'user_page' profile.slug %}">{{ profile.user.username }}</a> <span id="currently-displaying">Following</span></h1>

        <ul class="category-list">
            <button class="button chosen" id="following-button">Following</button>
            <button class="button" id="followers-button">Followers</button>
        </ul>
    </div>

    {% include 'parts/users/player_card_container.html' with user_profile_list=subscriber_list section_id='followers-section' hidden=True %}

    {% include 'parts/users/player_card_container.html' with user_profile_list=subscription_list section_id='following-section' %}

{% endblock content %}

{% block connect_js %}
{{ block.super }}
{% load static %}
<script src="{% static 'js\users\followings_page.js' %}"></script>
{% endblock connect_js %}