{% extends 'parts/base.html' %}

{% block title %}{{ blog.title }} Blog{% endblock title %}

{% block content %}
    <h1>{{ blog.title }}{% if request.user == blog.author %}-<a href="{% url 'blog_edit' blog.section.slug blog.slug %}">Edit</a>{% endif %}</h1>
    <h2>by {{ blog.author.username }}, on {{ blog.created_at|date:"E d, Y" }}</h2>
    <h3>Likes: {{ blog.likes.count }} | <a href="{% url 'blog_like' blog.section.slug blog.slug %}">Like</a></h3>

    <hr>
    <div class='ck-content'>
        {{ blog.text|safe }}
    </div>
    <h4>"{{blog.author.profile.signing}}"</h4>

    <hr>

    <h2>Comments:</h2>

    <div>
        <h3>Create a comment yourself:</h3>
            <form action="{% url 'blog_create_comment' blog.section.slug blog.slug %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post">
            </form>

    </div>

    {% include 'parts/comment_list.html' with comments=comments%}

{% endblock content %}
