{% extends 'parts/base.html' %}

{% block title %}"{{ blog.title }}" Blog{% endblock title %}

{% block connect_css %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css" />
{% endblock connect_css %}

{% block main_class %}main-flex{% endblock main_class %}

{% block content %}
    <div class="blog-info-box">
        <div>
            <h1>{{ blog.title }}</h1>
            <p>by {% include 'parts/users/username_display.html' with user=blog.author %} on {{blog.created_at|date}}</p>
            <div class="background like-button-box">
                <span>❤️<b id="like-count">{{ blog.likes.count }}</b></span>
                <button class="button" onclick='processLike(this)'>Like!</button>

                {% include 'parts/users/subscribe_unsubscribe_button.html' with user_profile=blog.author.profile%}
             </div>
        </div>

        {% if request.user == blog.author %}
            <a href="{% url 'blog_edit' blog.section.slug blog.slug %}" class="button">Edit</a>
        {% endif %}
    </div>

    <div class='background ck-content blog-text-box'>
        {{ blog.text|safe }}     
    </div>

    {% include 'parts/blogs/blog_comment_section.html' with comments=comments %}

{% endblock content %}

{% block connect_js %}
    {{block.super}}
    {% load static %}
    <script src="{% static 'js\blogs\like_button.js' %}"></script>
    <script src="{% static 'js\users\subscribe_button.js' %}"></script>
{% endblock connect_js %}