{% extends 'parts/base.html' %}

{% block title %}{{ blog.title }} Blog{% endblock title %}

{% block content %}
    <h1>{{ blog.title }}</h1>
    <h2>by {{ blog.author.username }}, on {{ blog.created_at|date:"E d, Y" }}</h2>
    <h3>Likes: {{ blog.likes }} | <a href="">Like</a></h3>

    <hr>
    <div class='ck-content'>
        {{ blog.text|safe }}
    </div>

    <hr>

    <h2>Comments:</h2>

    <div>
        <h3>Create a comment yourself:</h3>
            <form action="{% url 'blog_create_comment' 'a' blog.slug %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit" value="Post">
            </form>

    </div>

    {% include 'parts/comment_list.html' with comments=comments%}

{% endblock content %}
