<div class="card-container">
    {% for blog in blogs %}
        <div class="card blog-card">
            <h3><a class="white-link" href="{% url 'blog_page' blog.section.slug blog.slug %}">{{blog.title}}</a> <span class="author">by {% include 'parts/users/username_display.html' with user=blog.author%}</span></h3>
            <p>{{blog.text|striptags|safe|truncatewords:25}}</p>
            <div class="card-info">
                <p class="like-count">{{blog.likes.count}} Likes</p>
                <p class="date">on {{ blog.created_at|date }}</p>
                <p class="more"><a href="{% url 'blog_page' blog.section.slug blog.slug %}">Read More</a></p>
            </div>
        </div>
    {% empty %}
        <h2 class="grey nowrap">None yet, come back here later!</h2>
    {% endfor %}
</div>