{% extends 'parts/base.html' %}

{% block title %}Your Notifications{% endblock title %}


{% block content %}
<h1>Your Notifications</h1>

    {% if not_seen_notifications %}
        <h2>Not Seen</h2>
        <div class="card-container row-card-container">
            {% for notification in not_seen_notifications %}
                <div class="card notification-card">
                    <div class="card-info">
                        <p class="date">received on {% include 'parts/date_time.html' with date_time=notification.created_at %}</p>
                    </div>     
                    <p>{{ notification.text|safe }}</p>
                </div>
            {% endfor %}
        </div>
        <form action="{% url 'user_notification_list' %}" method="post" class="invisible">
            <input type="submit" value="Mark as Seen" class="button">
            <input type="hidden" name="action", value="update">
            {% csrf_token %}
        </form>
    {% else %}
        <h2>There are no new notifications for now, come back here later.</h2>
    {% endif %}

        {% comment %} ------------ Seen Notifications ------------ {% endcomment %}

    {% if seen_notifications %}
        <h2>Seen</h2>
        <div class="card-container row-card-container">

            <form action="" method="post" class="card-container row-card-container invisible">

                {% for notification in seen_notifications %}
                    <div class="card notification-card">
                        <div class="card-info">
                            <p class="date">received on {% include 'parts/date_time.html' with date_time=notification.created_at %}</p>
                            <input type="checkbox" name="notification_{{notification.id}}">
                        </div>     
                        <p>{{ notification.text|safe }}</p>
                    </div>
                {% endfor %}
        
                <input type="submit" value="Delete" class="button" >
                <input type="hidden" name="action", value="delete">
                {% csrf_token %}
            </form>
        </div>

    {% endif %}

{% endblock content %}