{% extends "parts/base.html" %}

{% block title %}Logout{% endblock title %}

{% block main_class %}flex-center{% endblock main_class %}

{% block content %}
    <h1>Log Out from IeF?</h1>
    <form class="grid-form logout-form" method="post">
        {% csrf_token %}
        <p>You won't be able to access the website until you are logged in again.</p>
        <input type="submit" value="Yes, Log Out" class='button' name='yes'>
        <input type="submit" value="No, Take me Back!" class='button' name='no'>
    </form>
{% endblock content %}