{% extends "parts/base_not_logged_in.html" %}

{% block title %}Register{% endblock title %}

{% block main_class %}flex-center{% endblock main_class %}

{% block content %}
    <h1>Register for IeF</h1>
    <form class="grid-form register-form" method="post">
        {% csrf_token %}
        {% comment %} {{ form.errors }} {% endcomment %}
        {% comment %} {% for field, error in form.errors.items %}
            {{error}}
        {% endfor %} {% endcomment %}
        {{ form }}
        <div class="additional-links">
            <label class="existing-account"><a href="{% url 'login_page' %}">Already have an account?</a></label>
        </div>

        <input type="submit" class='button' value="Send the Application">
            
    </form>

    <a href="{% url 'legal_page' %}" class="legal-notice">Legal</a>
{% endblock content %}