{% extends 'parts/base_not_logged_in.html' %}

{% block title %}Password Reset: Almost Done!{% endblock title %}

{% block main_class %}flex-center{% endblock main_class %}

{% block content %}
    <h1>Reset Your Password</h1>
    {% if validlink %}
    <form class="password-reset-form" action="" method="post">
        {% csrf_token %}
        <h3>Enter your new password to proceed.</h3>
        {{ form }}
        <input type="submit" class='button' value="Reset the Password">
    </form>
    {% else %}
    <p>Unfortunately, it seems like the link you entered is invalid. Please try clicking/copying and pasting the link, or requesting a new one <a href="{% url 'reset_password' %}">Here</a>.</p>
    {% endif %}

{% endblock content %}