{% extends 'parts/base_not_logged_in.html' %}

{% block title %}Passoword Reset{% endblock title %}

{% block main_class %}flex-center{% endblock main_class %}

{% block content %}
    <h1>Reset Your Password</h1>
    <form class="password-reset-form" action="" method="post">
        {% csrf_token %}
        <p>Please enter your Email address to reset the password.</p>
        {{ form }}
        <a href="{% url 'login_page' %}">Or try to Log In?</a>
        <input type="submit" class='button' value="Reset the Password">
{% endblock content %}