{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Language" content="en">
    <meta property="og:title" content="Igni et Ferro">
    <meta property="og:description" content="The Best Minecraft Server's Website.">
    <meta property="og:image" content="{% static 'logo.svg' %}">
    {% block connect_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock connect_css %}
    <title>{% block title %}{% endblock title %} - Igni et Ferro</title>
    <link rel="icon" type="image/x-icon" href="{% static 'logo.svg' %}">
</head>
<body>
    <header>
        <a class="header-logo" href="{% url 'index_page' %}">   
            <img src="{% static 'logo.svg' %}" alt="IeF Logo">
            <p><span class='logo-igni'>Igni</span> <span class='logo-et'>et</span> <span class='logo-ferro'>Ferro</span></p>
        </a>
        <nav>
            <ul class="website-map">
                <li><a href="{% url 'blog_list' %}">Blogs</a></li>
                <li><a href="{% url 'blog_section' 'news' %}">News</a></li>
                <li><a href="{% url 'blog_section' 'sights' %}">Sights</a></li>
                <li><a href="{% url 'all_media_list' %}">Media</a></li>
                <li><a href="{% url 'user_list' %}">Players</a></li>
            </ul>

            <ul class="login-card-info">
                <li><a href="{% url 'user_notification_list' %}">Notifications {% if notification_count %}<span class="notification-count">{{notification_count}}</span>{% endif %}</a></li>
                <li><a href="{% url 'logout_page' %}">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <nav class="sidebar">
        <ul>
            <li>
            <a class="icon-link" href="{% url 'user_page' request.user.profile.slug %}">
                {% comment %} <img src="{% static 'google_icons\account_circle.svg' %}"> {% endcomment %}
                <img src="{{request.user.profile.pfp.url}}" class="pfp-sidebar">
                My Profile
            </a>
            </li>
            <li>
            <a class="icon-link" href="{% url 'user_timeline' %}">
                <img src="{% static 'google_icons\dashboard.svg' %}">
                My Timeline
            </a>
            </li>
            <li>
                <a class="icon-link" href="{% url 'user_followings' request.user.profile.slug %}">
                <img src="{% static 'google_icons\group.svg' %}">
                My Followings
                </a>
            </li>
            <li>
                <a class="icon-link" href="{% url 'user_media_list' request.user.profile.slug %}">
                <img src="{% static 'google_icons\filter.svg' %}">
                My Media
                </a>
            </li>
            <li>
                <a class="icon-link" href="{% url 'blog_create' %}">
                <img src="{% static 'google_icons\post_add.svg' %}">
                New Post
                </a>
            </li>
        </ul>

        <p class="about-block">Learn more about the project <a href="{% url 'about_page' %}">here</a></p>
    </nav>
            
    <main class="{% block main_class %}{% endblock main_class %}">
        {% block content %}{% endblock content %}
        {% include 'parts/messages_window.html' %}
    </main>

    <footer>
    </footer>

    {% block connect_js %}
    {% load static %}
    <script src="{% static 'js\messages.js' %}"></script>
    {% endblock connect_js %}

</body> 
</html>