<style>
    .email-body {
        padding: 1px;
        margin: 0px;
        background-color: #181517;
        color: #D5D4D2;
        font-family: sans-serif;

        border-radius: 10px;

        width: 100%;
        max-width: 600px;
        margin: auto;
    }

    * {
        color: #D5D4D2;
        font-family: sans-serif;
    }

    .stripe {
        display: block;
        margin: 0%;
        background-color: #8e0dca;
        height: 40px;
        border-radius: 10px 10px 0px 0px;
    }

    .content {
        padding: 0px 30px 20px;
    }

    p {
        margin: 10px 0;
        font-weight: 500;
        font-size: 16px;
    }

    .email-body a {
        color: #8e0dca;
        font-weight: 600;
        text-decoration: none;
        transition: 0.5s;
    }

    a:hover {
        color: #b411ff;
        transition-duration: 0.1s;
    }
</style>